
<% layout("layout/boilerplate") %>

<div class="container mt-5 d-flex justify-content-center">
  <div class="col-md-6 col-lg-4 p-4 shadow rounded border border-secondary" style="background-color: #fff;">
    <h1 class="text-center mb-4">Sign Up</h1>

    <form action="/signup" method="post" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">UserName</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username" required>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter Your Password" required>
      </div>

      <button type="submit" class="btn btn-primary w-100">Sign in </button>
    </form>
  </div>
</div>
